/* 
.product-logo {
   
    width: 200px;
    height: 200px;
    background-color: #3498db; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }


.product-logo :hover{
    cursor: pointer;
} */

.signup {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .signup-container {
    margin-top: 15px;
    text-align: center;
  }
  
  .signup-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-container a:hover {
    text-decoration: underline;
  }
  