
<!-- <div class="product-logo">
    <button style="background-color: white;;">
    
    
      <img src="https://media.istockphoto.com/id/827465154/photo/white-rice-in-burlap-sack-bag-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=be5ELHFTbZ3DlBcAnPgCX4AkLjA867Mc7nBRjWKqNkI=" alt="Product Logo" style="max-width: 100%; max-height: 100%;">
    
    </button>
    
    </div> -->


    <div class="notification" *ngIf="isVisible" [ngStyle]="isSucess ? {'background-color': 'green'} : {'background-color': 'red'}" >
        <span class="message">{{message}}</span>
        <!-- <button class="close-button">X</button> -->
      </div>
      


 <body class="signup" *ngIf="IsSignedUp">
  <div class="container" >
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="signup(loginForm.value)">
          <h1>Sign up</h1>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username"  [(ngModel)]="username" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
          
          <button type="submit" >Login</button>

          
        
      </form>

     
      <div class="signup-container">
          <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
  </div>
</body>


<body class="login" *ngIf="IsLoggedIn" >
    <div class="container" >
        <form class="login-form" #signUp="ngForm" (ngSubmit)="login(signUp.value)">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"  [(ngModel)]="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
            
            <button type="submit"  > Login</button> 
            
            <!-- routerLink="/main" -->
        </form>
  <!-- <button (click)="sendData()" > send data </button> -->
        <!-- <button (click)="DatatoBeposted()"> Send Data </button> -->
        <div class="signup-container">
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>
  </body>
  
  <!-- <app-main  ></app-main> -->
  <router-outlet> </router-outlet>
